/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';




// some basic resets 

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
  
}
.container {
    margin: 20px;
    display:flex;
}
.flex-spacer {
    flex: 1 1 auto;
    }

.background-primary {
    background-color: #ff9b33;
  }
.background-accent {
      background-color: rgb(110, 5, 63);
    }
.text-floral-white {
      color: floralwhite;
    }



    .example-container {
      height: 270px;
      overflow: auto;
    }
    
    table {
      width: 100%;
    }
    
    th.mat-header-cell {
      font-weight: bold;
    }
    
    .mat-table-sticky {
      border-top: 1px solid #e0e0e0;
    }    

    th.mat-sort-header-sorted {
      color: black;
    }