<mat-toolbar color="primary">
    
    <a mat-button routerLink='/home' routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink='/team' routerLinkActive='active'><span class="fa fa-address-card fa-lg"></span> Team</a>
    <a mat-button routerLink='/project' routerLinkActive='active'><span class="fa fa-address-card fa-lg"></span> Projects</a>
    <span class="flex-spacer"></span>
    <a mat-button ><span class="fa fa-sign-in fa-lg"></span> Login</a>
</mat-toolbar>
  
 